---
- name: Install PostgreSQL
  apt:
    name: [postgresql, postgresql-contrib, python3-psycopg2]
    state: present
    update_cache: yes

- name: Ensure PostgreSQL is started
  service:
    name: postgresql
    state: started
    enabled: yes

- name: Create database
  become_user: postgres
  postgresql_db:
    name: "{{ db_name }}"

- name: Create user
  become_user: postgres
  postgresql_user:
    db: "{{ db_name }}"
    name: "{{ db_user }}"
    password: "{{ db_pass }}"
    priv: "ALL"
