---
- name: Install PostgreSQL
  apt:
    name: [postgresql, postgresql-contrib, python3-psycopg2]
    state: present

- name: Create database
  become_user: postgres
  postgresql_db:
    name: "{{ db_name }}"

- name: Create user
  become_user: postgres
  postgresql_user:
    name: "{{ db_user }}"
    password: "{{ db_pass }}"
    state: present

- name: Grant schema permissions
  become_user: postgres
  postgresql_privs:
    db: "{{ db_name }}"
    role: "{{ db_user }}"
    type: schema
    objs: public
    privs: ALL
