---
- name: Install PostgreSQL
  apt:
    name: [postgresql, postgresql-contrib, python3-psycopg2]
    state: present

- name: Allow md5 password auth
  lineinfile:
    path: /etc/postgresql/16/main/pg_hba.conf
    regexp: '^host    all             all             127.0.0.1/32            todo'
    line: 'host    all             all             127.0.0.1/32            md5'
    insertafter: '# IPv4 local connections:'
  notify: restart postgres

- name: Ensure PostgreSQL is started
  service:
    name: postgresql
    state: started
    enabled: yes

- name: Create database
  become_user: postgres
  postgresql_db:
    name: "{{ db_name }}"

- name: Create user
  become_user: postgres
  postgresql_user:
    name: "{{ db_user }}"
    password: "{{ db_pass }}"
    state: present

- name: Grant schema permissions
  become_user: postgres
  postgresql_privs:
    db: "{{ db_name }}"
    role: "{{ db_user }}"
    type: schema
    objs: public
    privs: ALL
