---
- name: Install Web Packages
  apt:
    name: [apache2, php, libapache2-mod-php, php-pgsql, php-xml, php-mbstring, php-curl, php-zip, git, unzip]
    state: present

- name: Prepare directory
  file:
    path: /var/www/html
    state: "{{ item }}"
  with_items: [absent, directory]

- name: Clone
  git:
    repo: 'https://github.com/Practical-DevOps/app-for-devops.git'
    dest: /var/www/html
    force: yes

- name: .env
  template:
    src: env.j2
    dest: /var/www/html/.env

- name: Composer
  shell: composer install --no-interaction
  args:
    chdir: /var/www/html

- name: Laravel Init
  shell: |
    php artisan key:generate --force
    php artisan migrate:fresh --force
    php artisan config:clear
  args:
    chdir: /var/www/html

- name: Permissions (The Brutal Way)
  file:
    path: /var/www/html
    owner: www-data
    group: www-data
    mode: '0777'
    recurse: yes

- name: Apache Config
  copy:
    dest: /etc/apache2/sites-available/000-default.conf
    content: |
      <VirtualHost *:80>
          DocumentRoot /var/www/html/public
          <Directory /var/www/html/public>
              AllowOverride All
              Require all granted
          </Directory>
      </VirtualHost>

- name: Finalize Apache
  shell: |
    a2enmod rewrite
    systemctl restart apache2
