---
- name: Install Essential Packages
  apt:
    name: [apache2, php, libapache2-mod-php, php-pgsql, php-xml, php-mbstring, php-curl, git, unzip]
    state: present

- name: Clear and Clone
  file:
    path: /var/www/html
    state: "{{ item }}"
  with_items: [absent, directory]

- name: Clone Repository
  git:
    repo: 'https://github.com/Practical-DevOps/app-for-devops.git'
    dest: /var/www/html
    force: yes

- name: Setup .env
  template:
    src: env.j2
    dest: /var/www/html/.env

- name: Fast Composer Install
  shell: composer install --no-interaction --no-dev --ignore-platform-reqs
  args:
    chdir: /var/www/html

- name: Laravel Setup
  shell: |
    php artisan key:generate --force
    php artisan migrate:fresh --force
    mkdir -p public/build
    touch public/mix-manifest.json
    echo '{}' > public/mix-manifest.json
  args:
    chdir: /var/www/html

- name: Full Permissions
  file:
    path: /var/www/html
    owner: www-data
    group: www-data
    mode: '0777'
    recurse: yes

- name: Apache Setup
  copy:
    dest: /etc/apache2/sites-available/000-default.conf
    content: |
      <VirtualHost *:80>
          DocumentRoot /var/www/html/public
          <Directory /var/www/html/public>
              AllowOverride All
              Require all granted
          </Directory>
      </VirtualHost>

- name: Restart Apache
  shell: a2enmod rewrite && systemctl restart apache2
