---
- name: Install PHP and extensions
  apt:
    name: 
      - apache2
      - php
      - libapache2-mod-php
      - php-pgsql
      - php-xml
      - php-mbstring
      - php-curl
      - php-zip
      - php-bcmath
      - git
      - unzip
    state: present
    update_cache: yes

- name: Nuclear clean /var/www/html
  file:
    path: /var/www/html
    state: absent

- name: Create /var/www/html
  file:
    path: /var/www/html
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'

- name: Clone App
  git:
    repo: 'https://github.com/Practical-DevOps/app-for-devops.git'
    dest: /var/www/html
    force: yes

- name: Setup .env
  template:
    src: env.j2
    dest: /var/www/html/.env

- name: Composer Install
  shell: composer install --no-interaction
  args:
    chdir: /var/www/html

- name: Fix Permissions for storage and cache
  file:
    path: "/var/www/html/{{ item }}"
    owner: www-data
    group: www-data
    mode: '0777'
    recurse: yes
  with_items:
    - storage
    - bootstrap/cache

- name: Key Generate and Migrate
  shell: |
    php artisan key:generate --force
    php artisan migrate --force
    php artisan config:clear
    php artisan cache:clear
  args:
    chdir: /var/www/html

- name: Enable Apache rewrite and restart
  shell: |
    a2enmod rewrite
  notify: restart apache

- name: Update Apache Config
  copy:
    dest: /etc/apache2/sites-available/000-default.conf
    content: |
      <VirtualHost *:80>
          DocumentRoot /var/www/html/public
          <Directory /var/www/html/public>
              Options Indexes FollowSymLinks
              AllowOverride All
              Require all granted
          </Directory>
      </VirtualHost>
  notify: restart apache
