---
- name: Install PHP packages
  apt:
    name: [apache2, php, libapache2-mod-php, php-pgsql, php-xml, php-mbstring, php-curl, php-zip, php-bcmath, git, unzip]
    state: present

- name: Clean and Clone
  file:
    path: /var/www/html
    state: "{{ item }}"
  with_items: [absent, directory]

- name: Git Clone
  git:
    repo: 'https://github.com/Practical-DevOps/app-for-devops.git'
    dest: /var/www/html
    force: yes

- name: Setup .env
  template:
    src: env.j2
    dest: /var/www/html/.env

- name: Composer Install
  shell: composer install --no-interaction
  args:
    chdir: /var/www/html

- name: Laravel Setup
  shell: |
    php artisan key:generate --force
    php artisan session:table
    php artisan migrate --force
    php artisan config:clear
  args:
    chdir: /var/www/html

- name: Permissions
  file:
    path: /var/www/html/{{ item }}
    owner: www-data
    group: www-data
    mode: '0777'
    recurse: yes
  with_items: [storage, bootstrap/cache]

- name: Apache Config
  shell: a2enmod rewrite

- name: VirtualHost
  copy:
    dest: /etc/apache2/sites-available/000-default.conf
    content: |
      <VirtualHost *:80>
          DocumentRoot /var/www/html/public
          <Directory /var/www/html/public>
              AllowOverride All
              Require all granted
          </Directory>
      </VirtualHost>
  notify: restart apache
